@model CartModel

@*@section HeaderYesiminch
{
	
}*@
<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Selected Count
            </th>
            <th>
                Addition Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Products != null)
        {
	        foreach (var item in Model.Products)
	        {
		        <tr>
			        <td>
				        @Html.DisplayFor(modelItem => item.Product.Name)
			        </td>
			        <td>
				        @Html.DisplayFor(modelItem => item.Product.Price)
			        </td>
			        <td>
				        @Html.DisplayFor(modelItem => item.Count)
			        </td>
			        <td>
				        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
				        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
			        </td>
		        </tr>
	        }
        }
    </tbody>
</table>
