@model CartModel

<h1>🛒 Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Selected Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @String.Format("{0:0.##}", item.Price) ֏
                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
Total Sum: @String.Format("{0:0.##}", Model.TotalSum) ֏
