@model IEnumerable<Shop.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Add new product</a>
</p>
<form asp-controller="Product" asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    int allPageCount = int.Parse(ViewData["allPageCount"].ToString());
    int pageNumber = int.Parse(ViewData["page"].ToString());
    ++pageNumber;
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="/Product/Index?Page=@(pageNumber-2)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (int i = 1; i <= allPageCount; i++)
        {
            <li class="page-item"><a class="page-link" href="/Product/Index?Page=@i">@i</a></li>
        }
        <li class="page-item">
            <a class="page-link" href="/Product/Index?Page=@pageNumber" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>